<!doctype html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body>
    <% include partials/template/navbar.ejs %>
    
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" />
        <br>
        <button>Send</button>
    </form>






    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>
</body>

</html>