<!doctype html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body>
    <% include partials/template/navbar.ejs %>

    <!-- form -->
    <div class="container">
        <div class="row">
    <div class="col-5">
    <form action="api" method="POST" id="feedbackForm" >
        <p>Name: <input type="text" name="name" id="feedbackFormName"></p> 
        <p>Title: <input type="text" name="title" id="feedbackFormTitle"></p> 
        <p>Message: <input type="text" name="message" id="feedbackFormMessage"></p> 
        <button type="submit">Submit</button>
        </form>
    </form>
    </div>
    
    <!-- end form -->

    <!-- messages -->
    <div class="col-5" id="feedbackMsgs">
    </div>
    <!-- end messages -->


    </div>
    </div>

    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>

</body>

</html>