<!doctype html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body>
    <% include partials/template/navbar.ejs %>

    <!-- form -->
    <div class="container">
        <div class="row">
    <div class="col-5">
    <form action="" method="POST">
        <p>Name: <input type="text" name="name"></p> 
        <p>Title: <input type="text" name="title"></p> 
        <p>Message: <input type="text" name="message"></p> 
        <input type="Submit">
    </form>
    </div>
    
    <!-- end form -->

    <!-- messages -->
    <div class="col-5" id="feedbackMsgs">
        <h4>name</h4>
        <h4>title</h4>
        <h4>comment</h4>
        <h5>trash can</h5>
    </div>
    <!-- end messages -->


    </div>
    </div>

    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>

</body>

</html>