<!doctype html>
<html lang="en">

<head>
<% include partials/template/head.ejs %>
</head>

<body>

    <% include partials/template/navbar.ejs %>

    <% include partials/template/carousel.ejs %>

    <!-- main content -->
    

    <% include partials/template/footer.ejs %>

    <% include partials/template/scripts.ejs %>
    </body>
</html>