<!-- footer -->
<footer>
    <div class="container-fluid bottom">
        <div class="row">
            <div class="col-4">
                <p>Author:</p>
                <p>John Argote</p>
                <p>January 8, 2018</p>
            </div>
            <div class="col-4">
                <p>Links Used:</p>
            </div>
            <div class="col-4">
                <p>Made with:</p>
            </div>
        </div>
    </div>
</footer>